h1 {
  color: black;
}
body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1487621167305-5d248087c724?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.card {
  background-color: #e6e6e6b0;
  padding: 50px;
  border-radius: 30px;
}

.search {
  padding-bottom: 2vh;
}

.table {
  display: flex;
  justify-content: center;
}

.mainelements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  text-align: center;
}

.dark-mode {
  background-color: #3f3f3fb0;
  color: aliceblue;
  padding: 50px;
  border-radius: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #353535;
}

input:focus + .slider {
  box-shadow: 0 0 1px #313131;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
